*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #CCC;
  font-size: 16px;
  font-family: "SF Pro Display Thin", "SF Pro Display", sans-serif;
}

h1 {
  font-weight: bold;
  text-align: center;
  margin: 0 28% -30px 28%;
  padding-top: 5%;
}

h2 {
  color: white;
  float: left;
  margin-left: 10px;
  padding-top: 5%;

}

h3 {
  color: grey;
  padding-left: 4%;
  padding-top: 2%;
  padding-bottom: 1%;
}

h4 {
  text-align: center;
  padding-top: 4%;
  padding-bottom: 6%;
  font-weight: bold;
  color: #FD8F47;
}

h5{
  text-align: center;
  padding-top: 4%;
  color: grey;
}

p {
  color: grey;
  text-align: center;
}

nav {
  background-color: #FD8F47;
  padding-top: 3%;
  position: sticky;
  margin-top: -4px;
  display: inline-block;
  justify-content: space-around;
  width: inherit;
  height: 90px;
}

.profile {
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}

.arrow-left {
  float: left;
  margin-left: 15px;
  padding-top: 5%;
}

.map {
  width: inherit;
  border-bottom: 20px solid #FD8F47;
  clip: rect(0px,auto,150px, auto);
  position: sticky;
}

.tab {
  width: inherit;
  background-color: #F8F8F8;
  height: 100px;
  display: inline-flex;
  justify-content: space-around;
}

.saved {
  padding: 2%;
  margin-left: -10%;
}

.search {
  padding: 2%;
  margin-right: -10%;
}


.row1 {
  display: inline-flex;
  width: inherit;
  padding: 10px;
  border-bottom: 0.5px solid lightgrey;
  margin-bottom: 16px;
}

.number {
text-align: center;
color: white;
background-color: #2753D9;
border-radius: 5px;
width: 12%;
padding: 2%;
margin-left: 10px;
}

.location {
text-align: left;
width: 60%;
padding: 2%;
padding-left: 4%;
}

.time {
color: white;
text-align: center;
border-radius: 5px;
background-color: #01CD10;
width: 32%;
padding: 2%;
margin-right: 10px;
}

.time2 {
  color: white;
  text-align: center;
  border-radius: 5px;
  background-color: black;
  width: 50%;
  padding: 2%;
  margin-right: 10px;
}

.time3 {
  color: white;
  text-align: center;
  border-radius: 5px;
  background-color: red;
  width: 32%;
  padding: 2%;
  margin-right: 10px;
}

.container {
  background-color: #FFF;
  width: 480px;
  margin: 0 auto;
}

.statusbar {
  width: inherit;
  margin: 0 auto;
}

.bottom {
  width: inherit;
  margin: 0 auto;
  margin-bottom: -4px;
}
